rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Fotos de lecturas
    match /fotos_lecturas/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    // Avatares de usuarios
    match /avatars/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Logos de empresas
    match /logos/{companyId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
